/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import "../../../../resources/scss/generic/variables";
@import "../../../../resources/scss/generic/functions";
@import "../../../../resources/scss/generic/mixins";

/* ------------------------------------------------------------ *\
	Blocks: Section Footer
\* ------------------------------------------------------------ */

.footer {
    position: relative;
    overflow: hidden;
    background: #eef3f6;
    color: $title;

    &__wrapper {
        display: flex;
        gap: 200px
    }

    &__navigation {
        font-weight: 900;
        font-size: 22px;

        &-ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            list-style-type: none;
            font-size: 16px;
            font-weight: 700;
        }
    }
}

.section-subscribe {
    padding-top: 30px;
    height: 280px;
    background: linear-gradient(180deg, rgba(250,183,216,1) 0%, rgba(250,183,216,1) 50%, rgba(238,243,246,1) 50%, rgba(238,243,246,1) 100%);

    .subscribe {

        &-wrapper {
            background: $main-pink-color;
            min-height: 238px;
        }
    }

}