/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import "../../../../resources/scss/generic/variables";
@import "../../../../resources/scss/generic/functions";
@import "../../../../resources/scss/generic/mixins";

/* ------------------------------------------------------------ *\
	Blocks: Section Kerr
\* ------------------------------------------------------------ */

.kerr-title {
    color: $title;
    font-size: 72px;
    font-weight: 900;
    line-height: 78px;
}

.kerr-row {
    display: flex;
    width: 100%;
}

.kerr-row-item {
    width: 50%;
}

.kerr-info {
    position: relative;
    color: $title;
    padding-top: 150px;
    padding-bottom: 20px;
    height: 100%;
    background-image: url("../../../../../resources/images/backgrounds/kerr-girl.png");
    background-size: contain;
    background-position: top right -195px;
    background-repeat: no-repeat;

    &:after {
        top: -40%;
        left: -20%;
        width: 120%;
        height: 140%;
        content: "";
        position: absolute;
        z-index: -1;
        background-color: rgb(0 76 108 / 20%);
    }

    &__content-wrapper {
        max-width: 464px;
    }

    &__title {
        font-size: 72px;
        font-weight: 900;
        line-height: 78px;
    }

    &__text {
        margin-top: 30px;
        font-family: BankGothic;
        max-width: 400px;
        overflow-y: auto;
        max-height: 475px;
        p {
            margin-bottom: 0;
        }
    }

    &__button-wrapper {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 10px;

        .watch-video-btn,
        .learn-more-btn {
            padding: 20px 38px;
            text-decoration: none;
            font-weight: 700;
            font-size: 16px;
            width: auto;
        }
    }

    .read-more {
        font-family: Montserrat;
        color: $main-pink-color;
        text-decoration: underline;
        font-weight: 700;
        transition: color 0.6s;
        border: none;
        background: none;
    }
}

@media (hover: hover) and (pointer: fine) {
    .read-more:hover {
        color: $main-pink-color-hover;
    }
}


@media (max-width: 1280px) {

    .kerr-row {
        justify-content: center;
        gap: 100px;
    }

    .kerr-info {
        padding-bottom: 120px;

        .kerr-info__button-wrapper {

            .watch-video-btn,
            .learn-more-btn {
                width: auto;
            }
        }

        &:after {
            content: none;
        }
    }

    .kerr-row {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .kerr-row-item {
        width: 100%;
    }
}




.modal:has(.modal-video) {
    border: none;

    .btn-close {
        padding: 16px;
        margin-right: 6px;
        align-self: flex-end;
        background: $white;
        z-index: 10;
        border-radius: 2px;
        color: #13597880;
        transition: color 0.6s;
    }

    .modal-content {
        background: none;
        border: none;
    }

    .modal-video {
        position: relative;
        bottom: 60px;
        z-index: 5;
        border-radius: 4px;
        max-height: 90dvh;
        max-width: 100dvw;
    }
}

.modal:has(.modal-iframe-video) {
    .modal-dialog {
        max-width: max-content;
    }

    .modal-content {
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
    }

    .modal-header {
        padding: 0;
        width: 100%;
        padding-left: 16px;
        align-items: flex-end;
        opacity: 1;

        .btn-close {
            width: 40px;
            height: 40px;
            padding: 6px;
            border-radius: 100%;
            align-self: flex-end;
            background: $white;
            z-index: 10;
            border-radius: 2px;
            color: #13597880;
            transition: color 0.6s;
            right: 26px;
            top: 0px;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .modal:has(.modal-video),
    .modal:has(.modal-iframe-video) {
        .btn-close:hover {
            color: $main-pink-color;
        }
    }
}

@media (max-width: 1720px) {
    .kerr-info {
        background-position: bottom right -195px;
    }
}

@media (max-width: 560px) {
    .kerr-info__button-wrapper {
        flex-wrap: wrap;
    }
}