/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */
@import "bootstrap.css";
@import "swiper-bundle.min.css";
@import "generic/bootstrap-grid";
@import "generic/variables";
@import "generic/functions";
@import "generic/mixins";
@import "generic/reset";
@import "generic/fonts";
@import "generic/base";
@import "generic/helpers";
@import "generic/swiper";
@import "slider-bar";

/* ------------------------------------------------------------ *\
	Overwrites
\* ------------------------------------------------------------ */

//@import "overwrites/_theme.*";

/* ------------------------------------------------------------ *\
	Plugins
\* ------------------------------------------------------------ */

.header {
	position: fixed !important;
	background: #135978e0 !important;
	top: 32px !important;
	backdrop-filter: blur(6px);
	z-index: 200 !important;
}

.preloader.hidden ~ .wp-site-blocks header {
	display: block;
}

.preloader ~ .wp-site-blocks header {
	display: none;
}
