
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .slider-wrap {
    position: relative;
    height: 100%;
    img {
      display: block;
      height: 680px;
      object-fit: cover;
      user-select: none;
      max-width: unset !important;
      border-radius: 2px;
      pointer-events: none;
    }
    .before-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;
    }
    .slider-btn {
      pointer-events: none;
      display: block;
      width: 3px;
      height: 100%;
      background: #ffffff !important;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      cursor: ew-resize;

      &::after {
        content: none;
        border: 1px solid $white;
        width: 9px;
        height: 60px;
        background: $title;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: border-color 0.6s;
      }
      &:hover::after {
        border-color: $main-pink-color-hover;
      }
    }
  }
}


.swiper-slide-active .slider-container .slider-wrap .slider-btn {
  display: block;
  pointer-events: all;

  &::after {
    content: '';
  }
}