/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import "../../../../resources/scss/generic/variables";
@import "../../../../resources/scss/generic/functions";
@import "../../../../resources/scss/generic/mixins";
@import './swiper.scss';
/* ------------------------------------------------------------ *\
	Blocks: Section Hero
\* ------------------------------------------------------------ */

.section-hero,
.acf-block-preview .section-hero {
	position: relative;
	padding-top: 320px;
	height: 930px;
	background-image: url("../../../../../resources/images/backgrounds/hero_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: $white;
	font-weight: 900;
}

.section-hero {
	.hero__wrapper {
		display: flex;
		padding-right: 40px;
		justify-content: space-between;
	}

	.hero__nav {
		align-self: flex-start;
		&_link {
			color: $white-semi;
			font-size: 22px;
			font-weight: 900;
		}
	}

	.hero__nav_ol {
		padding-left: 12px;

		.hero__nav_li {
			margin-top: 26px;
			position: relative;
			.hero__nav_link {
				color: $white;
			}
			&:before {
				content: "";
				position: absolute;
				left: -12px;
				top: 50%;
				transform: translateY(-50%);
				display: block;
				width: 3px;
				height: 30px;
				background: $main-pink-color;
			}
			&:not(.active) {
				&::before {
					content: none;
				}
				.hero__nav_link {
					color: $white-semi;
				}
			}
			&:first-child {
				margin-top: 0;
			}
		}
	}

	.hero__descr-wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.hero__title {
		display: flex;
		flex-direction: column;
		font-size: 100px;
		line-height: 100px;
		font-weight: 900;
	}

	.hero__subtitle {
		margin-top: 30px;
		font-family: BankGothic;
		font-size: 24px;
	}

	.hero__buttons-wrapper .consulting-button.no-fill {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 15px;
	}
}

@media (max-width: 1280px) {
	.hero__nav {
		display: none;
	}

	.section-hero {
		.hero__title {
			flex-direction: row;
			font-size: 50px;
			gap: 16px;
		}

		.hero__subtitle {
			max-width: 450px;
		}

		.hero__buttons-wrapper {
			flex-direction: column;
		}

		.consulting-button,
		.consulting-button.no-fill {
			padding: 15px 28px;
			width: 197px;
			height: unset;
			font-size: 14px;
		}

		.consulting-button.no-fill {
			padding: 15px 22px;
			width: 164px;
		}
	}
}

@media screen and (max-width: 768px) {
	.section-hero {
		.hero__title {
			font-size: 40px;
			flex-direction: column;
			line-height: 40px;
			gap: 0;
			letter-spacing: -3px;
		}
	}

	.hero__descr-wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}

@media (hover: hover) and (pointer: fine) {
	.hero__nav_li:hover ~ .nero__nav_link {
		color: $white-semi;
	}

	.hero__nav_li:hover .hero__nav_link {
		text-decoration: none;
		color: $white !important;
	}

	.hero__nav_ol:hover .hero__nav_li.active .hero__nav_link {
		text-decoration: none;
		color: $white-semi;
	}

	.hero__buttons-wrapper {
		margin-top: 30px;
		display: flex;
		gap: 10px;
	}

	.hero__buttons-wrapper .consulting-button.no-fill:hover {
		background: $main-pink-color-hover;
		border: 2px solid $main-pink-color-hover;
	}
}

// GALLERY

.section-gallery {
	padding-top: 120px;
	background: $white;
}

.gallery {
	display: flex;
	flex-direction: row;
	gap: 24px;
	padding: 20px 0;

	&__category {
		display: flex;
		align-items: flex-end;
		justify-content: start;
		width: 380px;
		height: 320px;
		padding: 24px;
		border: 2px solid $white;
		transition: border 0.6s;
		cursor: pointer;
		text-decoration: none;

		&-info {
			&_title {
				font-family: BankGothic;
				font-size: 32px;
				line-height: 33px;
				font-weight: 500;
				color: $white;
			}

			&_count {
				font-size: 18px;
				font-weight: 400;
				color: $white;
				opacity: 80%;
			}
		}
	}

	&__part-one,
	&__part-two {
		justify-content: flex-start;
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		gap: 28px;
		height: 1016px;
	}

	&__wide {
		flex-basis: 100%;
	}

	&__part-one {
		flex-direction: column;
		justify-content: flex-start;
		.gallery__wide {
			flex-basis: calc(((100% / 3) * 2) - 10px);
			flex-grow: 0;
			flex-shrink: 1;
		}
	}

	#personal {
		background: linear-gradient(
				180deg,
				rgba(19, 89, 120, 0) 27.42%,
				rgba(19, 89, 120, 0.6) 100%
			),
			url("../../../../../resources/images/gallery/personal.jpg") center
				center/cover no-repeat;
		background-position: left 30% top;
	}

	#demand {
		background: linear-gradient(
				180deg,
				rgba(19, 89, 120, 0) 27.42%,
				rgba(19, 89, 120, 0.6) 100%
			),
			url("../../../../../resources/images/gallery/demand.jpg") center
				center/cover no-repeat;
		background-position: center top;
	}

	#beginners {
		background: linear-gradient(
				180deg,
				rgba(19, 89, 120, 0) 27.42%,
				rgba(19, 89, 120, 0.6) 100%
			),
			url("../../../../../resources/images/gallery/beginners.jpg") center
				center/cover no-repeat;
		background-position: center top;
	}

	#virtual {
		background: linear-gradient(
				180deg,
				rgba(19, 89, 120, 0) 27.42%,
				rgba(19, 89, 120, 0.6) 100%
			),
			url("../../../../../resources/images/gallery/virtual.jpg") center
				center/cover no-repeat;
		background-position: center top;
	}

	#mind {
		background: linear-gradient(
				180deg,
				rgba(19, 89, 120, 0) 27.42%,
				rgba(19, 89, 120, 0.6) 100%
			),
			url("../../../../../resources/images/gallery/mind.jpg") center
				center/cover no-repeat;
		background-position: center bottom 30%;
	}

	#semi-private {
		background: linear-gradient(
				180deg,
				#13597800 27.42%,
				rgba(19, 89, 120, 0.6) 100%
			),
			url("../../../../../resources/images/gallery/semi.jpg") center
				center/cover no-repeat;
		background-position: center top;
	}

	#nutrition {
		background: linear-gradient(
				180deg,
				rgba(19, 89, 120, 0) 27.42%,
				rgba(19, 89, 120, 0.6) 100%
			),
			url("../../../../../resources/images/gallery/nutrition.jpg") center
				center/cover no-repeat;
		background-position: center top;
	}

	#co-ed {
		background: linear-gradient(
				180deg,
				rgba(19, 89, 120, 0) 27.42%,
				rgba(19, 89, 120, 0.6) 100%
			),
			url("../../../../../resources/images/gallery/co-ed.jpg") center
				center/cover no-repeat;
		background-position: center top;
	}

	#functional {
		background: linear-gradient(
				180deg,
				rgba(19, 89, 120, 0) 27.42%,
				rgba(19, 89, 120, 0.6) 100%
			),
			url("../../../../../resources/images/gallery/functional.jpg") center
				center/cover no-repeat;
		background-position: center top;
	}
}

@media (hover: hover) and (pointer: fine) {
	.gallery__category:hover {
		border: 2px solid $main-pink-color;
	}
}

@media (max-width: 1720px) {
	.gallery__part-one,
	.gallery__part-two {
		flex-direction: row;
		justify-content: flex-start;
		align-content: flex-start;
		height: auto;

		.gallery__category {
			flex-basis: 100%;
		}
	}
}

@media (max-width: 1280px) {
	.gallery {
		flex-direction: column;
	}
	.gallery__part-one,
	.gallery__part-two {
		width: 100%;
		flex-direction: row;
		justify-content: flex-start;
		align-content: flex-start;
		height: auto;

		.gallery__category {
			width: 340px;
			flex-basis: calc(50% - 14px);
		}

		.gallery__wide {
			flex-basis: 100%;
		}
	}

	#personal {
		order: 3;
	}

	#demand {
		order: 3;
	}

	#beginners {
		order: 1;
	}

	#virtual {
		order: 2;
	}

	.gallery #mind {
		order: 4;
		background-position: center bottom;
	}

	#semi-private {
		order: 1;
	}

	#nutrition {
		order: 2;
	}

	#co-ed {
		order: 3;
	}

	#functional {
		order: 4;
	}
}

@media screen and (max-width: 768px) {
	.gallery__part-one,
	.gallery__part-two {
		.gallery__wide,
		.gallery__category {
			height: 250px;
			flex-basis: 100%;
		}
	}

	.gallery #mind {
		background-position: center top 30%;
	}
}

.swiper {
	width: 600px;
	height: 300px;
}

#gallery__popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 100dvh;
	width: 100dvw;
	background-color: #2a99c865;
}

.swiper {
	width: 600px;
	height: 300px;
  }