/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import "../../../../resources/scss/generic/variables";
@import "../../../../resources/scss/generic/functions";
@import "../../../../resources/scss/generic/mixins";

/* ------------------------------------------------------------ *\
	Blocks: Section Hero
\* ------------------------------------------------------------ */

.section-hero,
.acf-block-preview .section-hero {
    position: relative;
    padding-top: 320px;
    height: 930px;
    background-image: url("../../../../../resources/images/backgrounds/hero_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    font-weight: 900;
}

.section-hero {
    .hero__wrapper {
        display: flex;
        padding-right: 40px;
        justify-content: space-between;
    }

    .hero__nav {
        align-self: flex-start;

        &_link {
            color: $white-semi;
            font-size: 22px;
            font-weight: 900;
        }
    }

    .hero__nav_ol {
        padding-left: 12px;

        .hero__nav_li {
            margin-top: 26px;
            position: relative;

            .hero__nav_link {
                color: $white;
            }

            &:before {
                content: "";
                position: absolute;
                left: -12px;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 3px;
                height: 30px;
                background: $main-pink-color;
            }

            &:not(.active) {
                &::before {
                    content: none;
                }

                .hero__nav_link {
                    color: $white-semi;
                }
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .hero__descr-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .hero__title {
        display: flex;
        flex-direction: column;
        font-size: 100px;
        line-height: 100px;
        font-weight: 900;
    }

    .hero__subtitle {
        margin-top: 30px;
        font-family: BankGothic;
        font-size: 24px;
    }

    .hero__buttons-wrapper .consulting-button.no-fill {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}

@media (max-width: 1280px) {
    .section-hero .hero__nav {
        display: none;
    }

    .section-hero {
        .hero__title {
            flex-direction: row;
            font-size: 50px;
            gap: 16px;
        }

        .hero__subtitle {
            max-width: 450px;
        }

        .hero__buttons-wrapper {
            flex-direction: column;
        }

        .consulting-button,
        .consulting-button.no-fill {
            padding: 15px 28px;
            width: 197px;
            height: unset;
            font-size: 14px;
        }

        .consulting-button.no-fill {
            padding: 15px 22px;
            width: 164px;
        }
    }
}

@media screen and (max-width: 768px) {
    .section-hero {
        .hero__title {
            font-size: 40px;
            flex-direction: column;
            line-height: 40px;
            gap: 0;
            letter-spacing: -3px;
        }
    }

    .hero__descr-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .hero__nav_li:hover~.nero__nav_link {
        color: $white-semi;
    }

    .hero__nav_li:hover .hero__nav_link {
        text-decoration: none;
        color: $white !important;
    }

    .hero__nav_ol:hover .hero__nav_li.active .hero__nav_link {
        text-decoration: none;
        color: $white-semi;
    }

    .hero__buttons-wrapper {
        margin-top: 30px;
        display: flex;
        gap: 10px;
    }

    .hero__buttons-wrapper .consulting-button.no-fill:hover {
        background: $main-pink-color-hover;
        border: 2px solid $main-pink-color-hover;
    }
}

//consulting-modal
.modal-backdrop+.modal-backdrop {
    display: none;
}

#consulting-modal {
    margin: 0 auto;
    padding: 70px;
    color: $title;
    font-size: 60px;
    font-weight: 900;
    border-radius: 2px;

    .modal {
        &-descr {
            margin-top: 20px;
            font-family: BankGothic;
            font-size: 18px;
            line-height: 22px;
        }

        &__close-btn {
            padding: 0 16px;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
        }

        &__label {
            visibility: hidden;
            height: 0;
            position: absolute;
            top: 0;
        }

        &__textarea {
            min-height: 65px;
            height: 65px;
        }
    }

    #consulting-modal-form {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 16px;
        font-weight: 700;
        gap: 30px;
        color: #13597880;

        fieldset {
            border: none;
        }

        .modal__input {
            border: 1px solid $title;
            border-radius: 2px;
            padding: 20px;
            width: 100%;
            font-weight: 700;
        }

        .form__legend {
            visibility: hidden;
            height: 0;
        }

        .form__inputs-wrapper {
            display: flex;
            width: 100%;
            flex-direction: row;
            gap: 20px;
            border: none;
        }

        button[type="submit"] {
            gap: 20px 40px;
            width: 140px;
            height: 56px;
            background: $main-pink-color;
            font-size: 16px;
            color: $white;
            font-weight: 700;
            justify-self: flex-end;
            margin-left: auto;
        }
    }
}

@media (max-width: 1280px) {
    #consulting-modal {
        font-size: 30px;

        #consulting-modal-form {
            padding-top: 0;
            gap: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    #consulting-modal {
        padding: 0;
        font-size: 30px;

        #consulting-modal-form {
            padding-top: 0;
            gap: 20px;

            .form__inputs-wrapper {
                flex-direction: column;
            }
        }
    }
}

.modal:has(.modal-video) {
    border: none;

    .btn-close {
        padding: 16px;
        margin-right: 6px;
        align-self: flex-end;
        background: $white;
        z-index: 10;
        border-radius: 2px;
        color: #13597880;
        transition: color 0.6s;
    }

    .modal-content {
        background: none;
        border: none;
    }

    .modal-video {
        position: relative;
        bottom: 60px;
        z-index: 5;
        border-radius: 4px;
        max-height: 90dvh;
        max-width: 100dvw;
    }
}

.modal:has(.modal-iframe-video) {
    .modal-dialog {
        max-width: max-content;
    }

    .modal-content {
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
    }

    .modal-header {
        padding: 0;
        width: 100%;
        padding-left: 16px;
        align-items: flex-end;
        opacity: 1;

        .btn-close {
            width: 40px;
            height: 40px;
            padding: 6px;
            border-radius: 100%;
            align-self: flex-end;
            background: $white;
            z-index: 10;
            border-radius: 2px;
            color: #13597880;
            transition: color 0.6s;
            right: 26px;
            top: 0px;
        }
    }
}

@media (hover: hover) and (pointer: fine) {

    .modal:has(.modal-video),
    .modal:has(.modal-iframe-video) {
        .btn-close:hover {
            color: $main-pink-color;
        }
    }
}
